build/
.history/

sdk/include/aditof/version.h

*deps/
*.temp/
.vscode/
.vs/

# Ignore submodules
libwebsockets/
protobuf/

#Ignore generated protobuf files
buffer.pb.cc
buffer.pb.h
usb_buffer.pb.cc
usb_buffer.pb.h
