[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf
        branch = 3.9.x
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
        branch = v0.6.0
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
		branch = v4.3.4
[submodule "cppzmq"]
	path = cppzmq
	url = https://github.com/zeromq/cppzmq.git
		branch = v4.9.0
