[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/warmcat/libwebsockets
        branch = v3.1-stable
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf
        branch = 3.9.x
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
        branch = v0.6.0
